server:
  port: ${PORT:8080}

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DATABASE_USERNAME}
    url: ${DATABASE_URL}
    password: ${DATABASE_PASSWORD}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        use_sql_comments: true
        show_sql: true
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_ID}
            client-secret: ${GOOGLE_PASSWORD}
            redirect-uri: ${GOOGLE_REDIRECT_URL}
            scope: email, profile
  thymeleaf:
    check-template-location: true
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML5
    cache: false
    template-resolver-order: 0

jwt:
  auth:
    access_secret: ${JWT_ACCESS_SECRET}
    refresh_secret: ${JWT_REFRESH_SECRET}

springdoc:
  swagger-ui:
    persist-authorization: true

cors:
  origin:
    development: ${CORS_ORIGIN_DEVELOPMENT}
    production: ${CORS_ORIGIN_PRODUCTION}

google:
  auth:
    url: ${GOOGLE_AUTH_URL}
  redirect:
    url: ${GOOGLE_REDIRECT_URL}

target:
  url:
    dev: ${TARGET_URL_DEV}
    prod: ${TARGET_URL_PROD}

image:
  path: images/

oci:
  tenant-id: ${OCI_TENANT_ID}
  user-id: ${OCI_USER_ID}
  fingerprint: ${OCI_FINGERPRINT}
  private-key-path: ${OCI_PRIVATE_KEY_PATH}
  region: ${OCI_REGION}
  bucket:
    name: ${OCI_BUCKET_NAME}
    namespace: ${OCI_BUCKET_NAMESPACE}

